<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Rambo Action Set"
            visible="true"
            id="com.gpiskun.rambo.actionSet">
         <menu
               label="Rambo"
               id="ramboMenu">
            <separator
                  name="ramboGroup">
            </separator>
         </menu>
         <action
               label="&amp;Reload My Environment"
               icon="icons/rambo.png"
               class="com.gpiskun.rambo.actions.RamboAction"
               tooltip="Reload My Environment"
               menubarPath="ramboMenu/ramboGroup"
               toolbarPath="ramboGroup"
               id="com.gpiskun.rambo.actions.RamboAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Rambo"
            class="com.gpiskun.rambo.preferences.RamboPreferencePage"
            id="com.gpiskun.rambo.preferences.RamboPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.gpiskun.rambo.preferences.RamboPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
